<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
  <title></title>
</head>
<body>
  <center><h1>Chuck Norris Jokes</h1></center>

  <center><p> <%=ChuckNorris.random %> </p></center>



</body>
</html>
